{% extends 'base.html.twig' %}
{% block title %}Contactos{% endblock  %}
    {% block body %}
    <h1>Ficha del contacto</h1>
    {%if contactos%}
        {%for contacto in contactos%}
        {{ include ('partials/datos_contacto.html.twig', {'contacto':contacto}) }}
    {%endfor%}
    {%else%}
        <p>No se ha encontrado el contacto</p>
    {% endif %}
    {% endblock body %}